{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block styles %} 
<style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    footer {
        margin-top: 30px;
        padding-top: 10px;
        border-top: 1px solid #eee;
    }
    .navbar-text{

        color: white;
    }
    .nav-logo {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
        float: left;
        height: 50px;
        overflow: hidden;
        padding: 0 10px;
        text-indent: -9999em;
        width: 158px;
        background: url({{ STATIC_URL }}theme/img/logo-bg.png) no-repeat scroll center center #D95723;
    }
    .brand {
        overflow: hidden;
        text-indent: -9999em;
    }
    .navbar .nav > li > a {
        padding: 15px 10px 16px;
    }
    .navbar-inner {
        min-height: 50px;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #4E4E4E;           
        background-repeat: repeat-x;
        background-position: -45px bottom;
        background-image: url({{ STATIC_URL }}theme/img/themeimgs/strip.png);
    }

    .search-query{
        color: #A4A1A1;
    }

    .submenu1{
        background-repeat: no-repeat;
        height: 200px;
        background-position: 0 -2px;
        /*  position: fixed;*/
        width: 100%;
        background-image: url({{ STATIC_URL }}theme/img/themeimgs/swirls_mini_nowhite.png);
    }
    .submenu2{
        background-repeat: repeat-x;
        height: 200px;
        position: relative;
        padding-right: 70px;
        background-image: url({{ STATIC_URL }}theme/img/themeimgs/whiteband.png);
    }

    .navbar .btn{
        color: white;
        padding: 4px 25px;
        font-size: 20px;
        background: #eb8651; /* Old browsers */
        background: -moz-linear-gradient(top,  #eb8651 0%, #c6602a 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb8651), color-stop(100%,#c6602a)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #eb8651 0%,#c6602a 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #eb8651 0%,#c6602a 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #eb8651 0%,#c6602a 100%); /* IE10+ */
        background: linear-gradient(top,  #eb8651 0%,#c6602a 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb8651', endColorstr='#c6602a',GradientType=0 ); /* IE6-9 */

    }
    .icons{
        height: 50px;
        margin-bottom: 0;
        padding-top: 20px;
        width: 100%;
    }
    #home_icon{ 
        height: 61px;
        width: 50px;
        background-image:  url({{ STATIC_URL }}theme/img/themeimgs/home_icon_mini.png);           
    }
    #data_icon{ 
        height: 61px;
        width: 70px;
        background-image:  url({{ STATIC_URL }}theme/img/themeimgs/data_mini.PNG);           
    }
    #maps_icon{ 
        height: 61px;
        width: 82px;
        background-image:  url({{ STATIC_URL }}theme/img/themeimgs/maps_mini.png);           
    }
    .uwi_logos{
        background-position: right center;
        background-repeat: no-repeat;
        height: 60px;
        margin-top: 35px;
        width: 100%;
        background-image:  url({{ STATIC_URL }}theme/img/themeimgs/logo_uwi_wb.png);  
    }
    .content_body{
        margin-top: -60px;
        padding-top: 60px;
        min-height: 550px;
        padding-left: 0px;
        padding-right: 0px;
        background-image:  url({{ STATIC_URL }}theme/img/themeimgs/bgnoise.png);
    }
    #content_body_inner{
        /* background-color: #F1F1F1;*/
        height: 100%;
        min-height: 550px;
        padding: 0 70px; 
        background-image:  url({{ STATIC_URL }}theme/img/themeimgs/background.png);
    }
    .footer{
        background-color: black;
        background-position: -45px top;
        background-repeat: repeat-x;
        height: 40px;
        margin-bottom: 0;
        padding: 20px 70px 0;
        background-image: url({{ STATIC_URL }}theme/img/themeimgs/strip.png);
    }
    .flags{
        background-position: center center;
        background-repeat: no-repeat;
        height: 23px;
        width: 132px;            
        background-image: url({{ STATIC_URL }}theme/img/themeimgs/flags.png);
    }
    .into_maps{
        background-color: white;
        height: 100%;
        min-height: 425px;
        padding: 20px;
        width: 90%;
    }
    td{
        padding-bottom: 20px;
    }
    table{
        width: 100%;
    }
    .welcomerow{
        padding-bottom: 30px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #4e4e4e;
        font-weight: normal;
    }
    .upload_imgs{
        padding: 10px;
    }
    .front_h3{
        color: #de6125;
    }
    .front_img{
        width: 130px;
    }
    .activity_log_header{
        background-position: center center;
        background-repeat: no-repeat;
        height: 33px;
        width: 100%;         
        background-image: url({{ STATIC_URL }}theme/img/themeimgs/activity_log.png);
    }
    .activity{
        background-color: white;
        margin: 10px 30px;
        padding: 10px 20px;
    }
    .user_flag{
        background-position: left center;
        background-repeat: no-repeat;
        height: 23px;
        width: 35px;
        background-image:  url({{ STATIC_URL }}theme/img/themeimgs/flags.png);
    } 
    .divder{
        height: 3px;
        width: 100%;
        margin: 15px 9px 10px 0;
        background-image: url({{ STATIC_URL }}theme/img/themeimgs/strip.png);
    }

</style>
{% endblock %}

{% block submenu %}
<div class="submenu2"> 
    <div class="submenu1">
        <ul class="nav">
            <li>
                <div class="pull-right login">
                    <ul class="pull-right">
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <div class="btn-group">
                                <a class="btn btn-large btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ user.username }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% if user.get_profile %}{{ user.get_profile.get_absolute_url }}{% else %}{% url profiles_create_profile %}{% endif %}"><i class="icon-user"></i> {% trans "Profile" %}</a></li>
                                    {% if user.is_staff %}
                                    <li><a href="{% url admin:index %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
                                    {% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{% url auth_logout %}"><i class="icon-off"></i> {% trans "Log out" %}</a></li>
                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <li><a class="btn btn-primary btn-large" href="{% url auth_login %}">{% trans "Sign in" %}</a></li>
                        {% if REGISTRATION_OPEN %}
                        <li class="navbar-text">{% trans "or" %}</li>
                        <li><a href="{% url registration_register %}">{% trans "Register" %}</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </div>

            </li>
            <li>
                <div class="icons  navbar pull-right">
                    <ul class="pull-right nav">
                        <li> <a href="{% url home %}"> <div id="home_icon"></div></a></li>
                        <li> <a href="{% url geonode.maps.views.browse_data %}"> <div id="data_icon"></div></a></li>
                        <li><a href="{% url geonode.maps.views.maps %}"> <div id="maps_icon"></div></a></li>
                    </ul>            
                </div> 
            </li>
            <li>
                <div class="uwi_logos pull-right">

                </div>
            </li>
        </ul>
    </div>     
</div>
{% endblock %}

{% block body_outer %}
<div class="span8" style=" padding: 0 30px 40px;">
    {% block main %}<h1>{% trans "Welcome" %}</h1>
    <p>
        {% blocktrans %}GeoNode is an open source platform for sharing geospatial data and maps.  If you have any questions about the software or service, join our mailing list by emailing <em>geonode@librelist.com</em>.{% endblocktrans%}
        {% trans "GeoNode is an open source platform for sharing geospatial data and maps.  If you have any questions about the software or service, join our mailing list by emailing <em>geonode@librelist.com</em>." %}
    </p>


    <div class="into_maps">
        <h3 class="front_h3">{% trans "Upload Data"%}</h3>
        <div class="row welcomerow">
            <div class="span3"> 

                <img class="front_img" src="{{ STATIC_URL }}theme/img/themeimgs/upload_map_icon.png"/> 
            </div>
            <div class="span9 offset1">   
                {% blocktrans %} GeoNode lets you upload, manage, and browse data. Search for data that is valuable to you, or upload your own data. {% endblocktrans %}
                <p>
                    <a class="btn btn-success" href="{% url data_upload %}">{% trans "UPLOAD DATA" %}>></a>
                </p>
            </div>
        </div> <h3 class="front_h3">{% trans "Create Map" %}</h3> 
        <div class="row welcomerow">
            <div class="span3">                

                <img class="front_img" src="{{ STATIC_URL }}theme/img/themeimgs/createmap.png"/>
            </div>
            <div class="span9 offset1">   
                GeoNode lets you compose and share maps. Create a map with our cartography tool, or explore maps shared by others.
                <p>
                    <a class="btn btn-primary" href="{% url maps_new %}">
                        {% trans "CREATE MAPS" %}>>
                    </a>
                </p>
            </div>
        </div>
        <h3 class="front_h3">{% trans "Explore Maps"%}</h3>
        <div class="row welcomerow">
            <div class="span3"> 

                <img class="front_img" src="{{ STATIC_URL }}theme/img/themeimgs/uploadmap.png"/>
            </div>
            <div class="span9 offset1">   
                {% blocktrans %} Explore pre-made maps, and those made by website users, 
                on such things as earthquake intensity, flood hazards, 
                topography, road networks, current refugee shelters, health 
                facilities, and much more.{% endblocktrans %}
                <p>
                    <a class="btn btn-success" href="{% url maps_search %}">
                        {% trans "EXPLORE MAPS" %}>>
                    </a>
                </p>
            </div>
        </div>

        <h3 class="front_h3">{% trans "Search for Data" %}</h3>
        <div class="row welcomerow">
            <div class="span3"> 

            </div>
            <div class="span9 offset1">   
                <div>
                    GeoNode lets browse data. Search for data that is valuable to you.
                    <form class="form-search" action="{% url data_search %}" method="POST">
                        {% csrf_token %}
                        <input type="text" class="input-medium search-query" name="q">
                        <button type="submit" class="btn btn-small">{% trans "Search" %}</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="divder"></div>
    {% endblock %}
</div>




<div class="span4">
    {% block sidebar %}

    <div class="activity_log_header"> </div>
    
    <div class="activity">
        <div class="user_flag pull-right"></div>
        <h3 style="text-transform:uppercase;">Title of picture</h3>
        <h4 style="text-transform: capitalize;">Dr. Ivery Brown</h4>
        <h6 style="width: 150px;">5:00 pm (Eastern Time) Kingston, Jamaica</h6>
        <div style="width: 100%; text-align: center;"> <img src="http://placehold.it/260x180" alt=""> </div>  
        <p>Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit, sed do eiusmod tempor in
            cididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, <a class="btn btn-primary btn-small" href=""> {% trans "More" %}>>   </a></p>         
    </div>
    
    <div class="activity">
        <div class="user_flag pull-right"></div>
        <h3 style="text-transform:uppercase;">Title of picture</h3>
        <h4 style="text-transform: capitalize;">Dr. Ivery Brown</h4>
        <h6 style="width: 150px;">5:00 pm (Eastern Time) Kingston, Jamaica</h6>
        <div style="width: 100%; text-align: center;"> <img src="http://placehold.it/260x180" alt=""> </div>  
        <p>Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit, sed do eiusmod tempor in
            cididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, <a class="btn btn-primary btn-small" href=""> {% trans "More" %}>>   </a></p>        
    </div>

    {% endblock %}
</div>
{% endblock %}
