{% extends "registration/login.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block title %} {% trans "Password Reset" %}{% endblock %}
{% block legend%} {% trans "Password Reset" %}{% endblock %}

{% block main %}
<form method="post" action=".">
    {% csrf_token %}

    {% block form_control%} 
    <div class="form-controls">
        {{ form|as_bootstrap }}
    </div>
    {% endblock %}
    {% block form_action%} 
    <div class="form-actions">
        <input type="submit" class="btn btn-info" value="{% trans "Reset my password" %}" />
    </div>
    {% endblock %}
</form>
{% endblock %}
